@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* pages */
@import "pages/main/components/nav.css";
@import "pages/main/components/banner.css";
@import "pages/main/components/articles.css";
@import "pages/main/components/footer.css";
@import "pages/login/login.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable";
  min-height: 100vh;
}
